<div class="container">
  <div class="filters">
    <a class="button" (click)="filterBy='Heads'">Heads</a>
    <a class="button" (click)="filterBy='Arms'">Arms</a>
    <a class="button" (click)="filterBy='Torsos'">Torsos</a>
    <a class="button" (click)="filterBy='Bases'">Bases</a>
    <a class="button" (click)="filterBy=''">All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of filtredProducts()">
      <bot-product-details [product]="product" (buy)="addToCart(product)"></bot-product-details>
    </li>
  </ul>
</div>